<div>
    <div class="side-modal" :class="{active: modalOpen}">
        <a href="javascript:void(0)" @click="modalOpen = !modalOpen">
            <svg data-v-6881a9aa="" class="svg-inline--fa fa-chevron-circle-right fa-w-16 btn-right btn-circle"
                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-circle-right" role="img"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                <path fill="currentColor"
                    d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z">
                </path>
            </svg>
        </a>
        <div class="modal-inner">
            <h4 class="header">Selected Books</h4>
            <p class="remarks">{{selected.length}} books selected</p>
            <a class="link" href="javascript:void(0)" :class="{disabled: !selected.length}"
                @click="deselectAll()">Deselect
                all</a>
            <ul class="list-group">
                <li v-for="book in selectedTitles" :key="book.index" class="list-group-item">
                    <a :href="book.url" target="_blank" class="no-dec">{{book.title}}</a><a href="javascript:void(0)"
                        @click="deselect(book.index)">
                        <svg data-v-6881a9aa="" class="svg-inline--fa fa-times fa-w-11" aria-hidden="true"
                            focusable="false" data-prefix="fas" data-icon="times" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
                            </path>
                        </svg>
                    </a></li>
            </ul>
        </div>
    </div>
    <div class="main fluid-container" :class="{light: modalOpen}">
        <div class="text-section">
            <h3 class="header">Springer Books</h3>
            <p class="remarks">Please enable pop-ups and redirects from this site.</p>
            <div>
                <a class="link no-dec" data-toggle="collapse" href="#collapse" role="button" aria-expanded="false"
                    aria-controls="collapse">
                    About
                </a>
                <div class="collapse" id="collapse">
                    <p class="card card-body about-body remarks">
                        Springer released over 400 book titles that can be downloaded free of charge during the
                        coronavirus outbreak. These books will be made available at least until the end of July, 2020.
                        <br><br>
                        This is a simple UI that facilitates easy selection of books to download.
                        <br><br><br>
                        <u>How to use</u>
                        <br>
                        <ol>
                            <li>Select books you want to download.</li>
                            <li>Click "Open Books".
                                <br><br>
                                Selected book titles will open in new tabs for you to download.</li>
                        </ol>
                        <br><br>
                        <u>Disclaimer</u>
                        <br>
                        Only English books are included in this selection.
                        <br>
                        Books without functioning download links are excluded from this selection.
                    </p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="component-wrapper">
                <input class="form-control" type="text" v-model="search" placeholder="Search titles"
                    aria-label="Search" />
            </div>
            <div class="component-wrapper">
                <a class="link no-dec" href="javascript:void(0)" :class="{disabled: disableSelectAll}"
                    @click="selectAll()">Select all</a>
                <a class="link no-dec" href="javascript:void(0)" :class="{disabled: !selected.length}"
                    @click="deselectAll()">Deselect
                    all</a>
                <a class="link no-dec" href="javascript:void(0)" :class="{disabled: !selected.length}"
                    @click="modalOpen = !modalOpen ">View selected books</a>
            </div>

            <div class="component-wrapper">
                <button class="btn btn-dark" @click="dropDown = !dropDown">Filter: {{filterStringFixed}}</button>
                <div class="dropdown-content" :class="{show: dropDown}">
                    <input class="filterBox" type="text" placeholder="Search subjects" v-model="filter">
                    <div>
                        <a class="dropdown-item" :class="{active: classification == filterStringFixed}"
                            v-for="classification in classificationsFilteredList" href="javascript:void(0)"
                            @click="filterList(classification)">{{classification}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div v-for="(data, i) in json" :key="i" class="card" v-if="show.includes(i)"
                :class="{active: selected.includes(i), disabled: !data['Download URL']}" @click="select(i)">
                <img class="card-img-top" :src="data['logo URL']" alt="Missing Textbook Image" />
                <div class="card-body">
                    <h5 class="card-title">{{data['Book Title']}}</h5>
                    <a :href="data['Download URL']" target="_blank" class="btn btn-dark">View</a>
                </div>
            </div>
        </div>
        <button type="button" class="download btn btn-primary" :class="{disabled: !selected.length}"
            @click="openItems()">Open Books</button>
        <a href="javascript:void(0)" @click="scrollToTop()"><svg data-v-6881a9aa=""
                class="svg-inline--fa fa-chevron-circle-up fa-w-16 btn-circle btn-up" aria-hidden="true"
                focusable="false" data-prefix="fas" data-icon="chevron-circle-up" role="img"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                <path fill="currentColor"
                    d="M8 256C8 119 119 8 256 8s248 111 248 248-111 248-248 248S8 393 8 256zm231-113.9L103.5 277.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L256 226.9l101.6 101.6c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L273 142.1c-9.4-9.4-24.6-9.4-34 0z">
                </path>
            </svg></a>
    </div>
</div>