<div>
    <div class="side-modal" :class="{active: modalOpen}">
        <a href="javascript:void(0)" @click="modalOpen = !modalOpen"><i
                class="fas fa-chevron-circle-right btn-right btn-circle"></i></a>
        <div class="modal-inner">
            <h4 class="header">Selected Books</h4>
            <p class="remarks">{{selected.length}} books selected</p>
            <a class="link" href="javascript:void(0)" :class="{disabled: !selected.length}"
                @click="deselectAll()">Deselect
                all</a>
            <ul class="list-group">
                <li v-for="book in selectedTitles" :key="book.index" class="list-group-item">{{book.title}}<a
                        href="javascript:void(0)" @click="deselect(book.index)"><i class="fas fa-times"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="main fluid-container" :class="{light: modalOpen}">
        <div class="text-section">
            <h3 class="header">Springer Books</h3>
            <p class="remarks">Please enable pop-ups and redirects from this site.</p>
        </div>
        <div class="filter-section">
            <div class="component-wrapper">
                <input class="form-control" type="text" v-model="search" placeholder="Search titles"
                    aria-label="Search" />
            </div>
            <div class="component-wrapper">
                <a class="link" href="javascript:void(0)" :class="{disabled: disableSelectAll}"
                    @click="selectAll()">Select all</a>
                <a class="link" href="javascript:void(0)" :class="{disabled: !selected.length}"
                    @click="deselectAll()">Deselect
                    all</a>
                <a class="link" href="javascript:void(0)" :class="{disabled: !selected.length}"
                    @click="modalOpen = !modalOpen ">View selected books</a>
            </div>

            <div class="component-wrapper">
                <button class="btn btn-primary" @click="dropDown = !dropDown">Filter: {{filterStringFixed}}</button>
                <div class="dropdown-content" :class="{show: dropDown}">
                    <input class="filterBox" type="text" placeholder="Search subjects" v-model="filter">
                    <div>
                        <a class="dropdown-item" :class="{active: classification == filterStringFixed}"
                            v-for="classification in classificationsFilteredList" href="javascript:void(0)"
                            @click="filterList(classification)">{{classification}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div v-for="(data, i) in json" :key="i" class="card" v-if="show.includes(i)"
                :class="{active: selected.includes(i), disabled: !data['Download URL']}" @click="select(i)">
                <img class="card-img-top" :src="data['logo URL']" alt="Missing Textbook Image" />
                <div class="card-body">
                    <h5 class="card-title">{{data['Book Title']}}</h5>
                </div>
            </div>
        </div>
        <button type="button" class="download btn btn-primary" :class="{disabled: !selected.length}"
            @click="openItems()">Open Items</button>
        <a href="javascript:void(0)" @click="scrollToTop()"><i
                class="fas fa-chevron-circle-up btn-circle btn-up"></i></a>
    </div>

</div>